/*Add CSS styles here*/
.chart-container {
  border: 1px solid #ccc;
  width: 100%;
  margin: 20px 0;
}

.graticule {
  stroke: #ccc;
  stroke-width: 0.5;
  fill: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
}

#map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 960px;
  width: 100%;
  flex-grow: 1;
  margin-top: 10%;
}

#map-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#map-title h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

#dropdown {
  position: relative;
  margin: 2px auto;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  padding: 2px 2px;
  border-radius: 5px;
  min-width: 200px;
  width: 200px;
  text-align: center;
}

#dropdown select {
  font-size: 16px;
  padding: 5px 10px;
  width: 100%;
}

#data-container {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  background-color: #f9f9f9;
  padding: 10px;
}

#data-attribution {
  font-size: 10px;
  font-family: Helvetica, sans-serif;
  color: #666;
}